.classpath
.project
.settings
target
/release/

# IDE files
.idea/
*.iml
nb-configuration.xml
nbactions-Debug.xml

# Build outputs
compile_output.txt
*.jar

# Local Maven Binaries
maven/
maven.zip

# Maven Wrapper Extensions
.mvn/wrapper/maven-wrapper.jar
